<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Reset</title>
</head>

<body>

    <section class="login-container">
        <div class="login-form">
            <h1>Reset Password</h1>
            <form action="/api/v1/submitted" method="post">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <p class="errorEmail" style="color: red; font-family: cursive; font-size: smaller; margin-top: 0;"></p>

                <button type="submit">Submit</button>
            </form>
            
        </div>
    </section>

    

</body>

</html>